[user]
    name = Ana Krivokapic
[core]
    editor = emacs
    excludesfile = ~/.gitignore
[color "diff"]
    whitespace = red reverse
[color]
    diff = auto
    ui = auto
[alias]
    patch = format-patch -M -C --patience --full-index -1
